/* Color Theme Swatches in Hex */
$Game-Design-1-hex: #C1C9D9;
$Game-Design-2-hex: #7B92A6;
$Game-Design-3-hex: #D9CF48;
$Game-Design-4-hex: #A6A04B;
$Game-Design-5-hex: #262118;

/* Color Theme Swatches in RGBA */
$Game-Design-1-rgba: rgba(192,200,216, 1);
$Game-Design-2-rgba: rgba(122,145,165, 1);
$Game-Design-3-rgba: rgba(216,207,71, 1);
$Game-Design-4-rgba: rgba(165,159,74, 1);
$Game-Design-5-rgba: rgba(38,33,24, 1);

/* Color Theme Swatches in HSLA */
$Game-Design-1-hsla: hsla(219, 23, 80, 1);
$Game-Design-2-hsla: hsla(208, 19, 56, 1);
$Game-Design-3-hsla: hsla(56, 65, 56, 1);
$Game-Design-4-hsla: hsla(56, 37, 47, 1);
$Game-Design-5-hsla: hsla(39, 21, 12, 1);