  .mainFrame {
    display: flex;
    width: 100%;
    height: 100%;
    background: #b1b8ba;

    &>div {
      padding: 16px;
    }

    .leftPart {
      color: white;
      background: #255563;
    }

    .centralPart {
      flex-grow: 1;
      position: relative;

      .centralSubMenu {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        padding: 24px;
        color: white;
        background: #0c262d;
      }
    }

    .rightPart {
      color: white;
      background: #255563;
    }
  }

  .iconMenu {


  }