@import 'static/colors.scss';

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: gray;
  display: flex;
  position: relative;
  color: $Game-Design-5-hex;

  div {
    box-sizing: border-box;
  }
}



.App-link {
  color: #61dafb;
}

.IconMenu {
  background: darken($Game-Design-2-hex, 25%);
  width: 48px;
  margin-bottom: 24px;

  .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    width: 48px;
    line-height: 46px;
    font-size: 20px;
    background: darken($Game-Design-2-hex, 30%);
    color: $Game-Design-3-hex;

    &:hover {
      color: #9ec2cc;
      background: #091c21;
    }
  }
}

.LeftMenu {
  background: $Game-Design-2-hex;
  margin-bottom: 24px;
  position: relative;
  display: block;
  user-select: none;
  position: relative !important;
}

.Editor {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('./static/images/editor.png');
  flex-grow: 1;
  position: relative;
  margin-bottom: 24px;
  min-width: 200px;

  .centralSubMenu {
    position: absolute;
    min-height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 24px;
    color: white;
    background: darken($Game-Design-2-hex, 25%);
    transition: all 100ms ease-in-out;
    user-select: none;

    .minimizeBtn {
      position: absolute;
      right: 0;
      height: 24px;
      line-height: 22px;
      top: -24px;
      padding: 0 16px;
      background: darken($Game-Design-2-hex, 30%);
      color: $Game-Design-3-hex;
      font-size: 12px;
      cursor: pointer;
      z-index: 10;

      &:hover {
        color: darken($Game-Design-2-hex, 70%);
        background: $Game-Design-2-hex;
      }
    }

    &.minimize {
      min-height: 0;
      height: 0;
      padding: 0;
    }
  }
}

.RightMenu {
  background: $Game-Design-2-hex;
  margin-bottom: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative !important;

  div {
    >div {
      border: 1px solid $Game-Design-4-hex;
      border-radius: 4px;
      background: $Game-Design-3-hex;
      width: 100%;
    }
  }
}

.Console {
  position: absolute;
  height: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
  z-index: 1000;
  color: $Game-Design-3-hex;
  background: darken($Game-Design-2-hex, 50%);
}

.Loader {
  position: absolute;
  background: $Game-Design-2-hex;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3000;

  &.hidden {
    display: none;
  }
}

$primary-color: $Game-Design-3-hex;
// How you import this will depend heavily on your build setup
// If using webpack though, `~` refers to node_modules
// @import '~loaders.css/src/animations/line-scale.scss'
@import 'loaders.css/src/animations/line-scale.scss';

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

// .resizeHandler {
//   position: absolute;
//   height: 100%;
//   width: 1px;
//   cursor: w-resize;
//   top: 0;
//   bottom: 0;

//   &.right {
//     right: 0;
//   }

//   &:hover {
//     width: 3px;
//     background: darken($Game-Design-2-hex, 50%);
//   }
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}